.cabane-breadcrumbs-container {
  padding: 3rem;
  background-color: #171717;
  font-size: 1.6em;
  border-top: 5px solid #384045;
  border-bottom: 5px solid #ccc;
  .breadcrumbs-links {
    height: 20px;
    .breadcrumb {
      margin: 0;
      padding: 0;
      border-radius: 0;
      background-color: #171717;
      font-size: 1.2em;
      text-transform: uppercase;
      .non-active-links {
        > a {
          color: #f15c22;
        }
      }
    }
  }
  .breadcrumbs-page-name {
    h3 {
      display: inline-block;
      margin-top: -0.8em;
      margin-bottom: -3em;
      color: white;
      font-weight: 200;
      font-size: 3em;
      line-height: 3em;
      border-bottom: 5px solid #f15c22;
    }
  }
}
