@import 'base';
@import '~normalize.css/normalize';
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
** MAIN STYLES
*/
body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

h3 { font-size: 2.4rem; }

@import 'media';
