@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*
** MAIN STYLES
*/
body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}
h3 { font-size: 2.4rem; }

/*
** NAVIGATION
*/
// Cabane Header Navigation
.cabane-nav-container {
  height: 110px;
  font-size: 2em;
  // Logo
  .nav-container {
    position: relative;
    a.navbar-brand {
      height: 100%;
      padding: 15px 0;
    }
  }
}

// Extra Navbar
.case-extra-nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: absolute;
  width: 80%;
  height: 50px;
  margin-top: 5px;
  right: 0;
  top: 0;
  font-size: 0.8em;
  ul {
    flex-grow: 1;
    margin: 0;
    text-align: right;
    list-style: none;
    color: #888;
    li {
      display: inline-block;
      padding: 10px;
      .glyphicon-right-arrow {
        margin-right: 5px;
        color: #b5b5b5;
      }
      a {
        color: #888;
      }
    }
  }
  .case-navbar-search {
    .form-group {
      margin: 0 0 0 15px;
    }
    .form-control {
      border-radius: 20px;
      height: 30px;
      font-size: 1em;
      &:focus {
        border-color: #ccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      }
    }
    .case-glyphicon-search {
      position: absolute;
      top: 19px;
      right: 15px;
      color: #b5b5b5;
    }
  }
}

// Main Navigation
ul.cabane-nav-links {
  height: 110px;
  > li {
    top: 55px;
    > a {
      padding: 10px;
      text-transform: uppercase;
    }
  }
}

// Bootstrap "active" class override
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  border-radius: 5px;
  background-color: #f15c22;
  background-image: none;
  color: white;
}

// Bootstrap ::hover effect on "active" class & other nav links override
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  border-radius: 5px;
  // background-image: linear-gradient(to bottom, #f15c22 0%, #f7901e 100%)
  background-color: #f15c22;
  color: white;
}

/*
**
**  HOME PAGE
**
*/
/*
** SLIDER
*/
// Cabane Slider Container
.cabane-carousel-container {
  margin-top: 110px;
  .cabane-main-slider {
    .item {
      img {
        width: 100%;
      }
    }
  }
}

/*
** FEATURES
*/
// Cabane Features Container
.cabane-features-container {
  position: relative;
  padding: 40px 0;
  font-size: 1.6em;
  .cabane-features-text {
    h3 {
      font-size: 2.6em;
    }
    .orange-bg {
      padding: 5px;
      color: white;
      font-weight: 700;
      background-color: #f15c22;
    }
    .features-paragraph {
      padding: 1% 15%;
      font-size: 1.4em;
      font-weight: 300;
      color: #888;
    }
    .cabane-features-bg {
      img {
        width: 100%;
      }
    }
  }
}

/*
** ABOUT US
*/
// Cabane About Container
.case-about-container {
  border-top: 1px solid rgba(199, 199, 199, 0.5);
  border-bottom: 1px solid rgba(199, 199, 199, 0.5);
  font-size: 1.6em;
  font-weight: 300;
  padding: 3rem 0;
  h3 {
    font-size: 2.6em;
    font-weight: 200;
  }
  span.bold-text {
    font-weight: 900;
  }
  .about-features-container {
    padding: 2rem 0 0;
    font-size: 1.6em;
    ul {
      list-style: none;
      line-height: 1;
      li {
        position: relative;
        padding: 5px 0;
        color: #f15c22;
        text-indent: 10px;
        &:before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 10px;
          left: -38px;
          width: 36px;
          height: 36px;
          background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzYgMzYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM2IDM2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48Y2lyY2xlIGZpbGw9IiNGMTVDMjIiIGN4PSIxOCIgY3k9IjE4IiByPSIxOCIvPjwvZz48L3N2Zz4=');
        }
      }
      .small-feature-text {
        font-size: 0.8em;
        color: #888;
      }
    }
  }
  .about-more-panels-container {
    padding: 2rem 0 0;
    font-size: 1.2em;
    .panel-default {
      box-shadow: 0 0 5px rgba(200, 200, 200, 0.8);
      > .panel-heading {
        background-image: none;
        background-color: white;
      }
    }
    .panel-title a {
      padding-left: 10px;
      font-size: 0.8em;
      color: #f15c22;
      vertical-align: middle;
    }
  }
}

/*
** PORTFOLIO-SHOW
*/
// Cabane Portfolio-Show Container
.cabane-portfolio-show-container {
  padding: 2rem 0;
  font-size: 1.6em;
  .cabane-features-text {
    h3 {
      font-size: 2.6em;
      font-weight: 300;
      span.bold-text {
        font-weight: 700;
      }
    }
    .portfolio-show-orange-txt {
      font-size: 1.4em;
      font-weight: 300;
      color: #f15c22;
    }
  }
}

// Cabane Portfolio-Carousel Container
.cabane-portfolio-carousel-component {
  margin-top: 20px;
  padding: 2rem 0;
  background-color: #4c4e50;
  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
    width: 5%;
    height: 92%;
    img {
      height: 100%;
    }
  }
  .carousel-control.left {
    left: -50px;
  }
  .carousel-control.right {
    right: -50px;
  }
}

/*
** NEWSFEED
*/
// Cabane Newsfeed Container
.cabane-home-newsfeed-container {
  min-height: 300px;  // remove this after populating
  padding: 2rem 0 4rem;
  background: url('/img/newsfeed-map-bg.gif') no-repeat;
  background-color: #F0F0ED;
  background-size: cover;
  font-size: 1.6em;
  h3 {
    font-size: 2.6em;
    font-weight: 300;
    margin-bottom: 30px;
    span.bold-text {
      font-weight: 700;
    }
  }
  .latest-newsfeed-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .latest-newsfeed-date-container {
    position: relative;
    padding: 0 30px;
    .row {
      height: 7rem;
    }
    .date-container {
      position: absolute;
      display: block;
      text-align: center;
      .day-container {
        display: block;
        font-size: 1.4em;
        font-weight: 900;
        padding: 1rem;
        background-color: white;
      }
      .month-container {
        display: block;
        font-weight: 300;
        color: white;
        padding: 0.4rem 1rem;
        background-color: #f15c22;
      }
    }
    .text-container-top {
      display: block;
      position: relative;
      top: 0;
      left: 22%;
      width: 77%;
      height: 100%;
      font-size: 1.6em;
      a {
        position: relative;
        display: block;
        max-height: 100%;
        color: #f15c22;
        line-height: 1.4;
        overflow: hidden;
      }
    }
    .text-container-bottom {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 1.2em;
      text-align: justify;
    }
  }
  .read-more-button {
    .form-group {
      width: 80%;
      margin-right: 10px;
      input {
        width: 100%;
      }
    }
  }
  // Client Testimonials
  #quote-carousel {
    .carousel-indicators {
      bottom: -4rem;
      li {
        background-color: #888;
      }
      .active {
        background-color: #4c4e50;
      }
    }
    .carousel-inner {
      font-size: 1.4em;
      small {
        font-size: 1em;
        margin-left: 5px;
      }
    }
    .testimonial-clients-container {
      .testimonial-text-container {
        width: 92%;
        margin: 0 20px 10px;
        padding: 15px 20px;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: #f15c22;
        p {
          margin-bottom: 0;
          font-size: 0.8em;
          font-weight: 300;
          font-style: italic;
          color: white;
        }
      }
    }
  }
}

/*
** FOOTER
*/
// Footer
.cabane-footer-container {
  .container-fluid {
    background-color: black;
    font-size: 1.6em;
    color: #777;
    .footer-sections-container {
      padding: 2rem 0;
      h5 {
        color: white;
        font-weight: 300;
      }
    }
    .form-group,
    .input-group {
      width: 100%;
    }
    .footer-news-contact,
    .form-control,
    .input-group-addon {
      height: 25px;
      font-size: 1em;
    }
    .input-group-addon {
      padding: 0;
      a {
        padding: 6px 12px;
        text-decoration: none;
      }
    }
    .contact-section {
      p {
        margin-left: 15px;
      }
      .case-footer-glyphicon {
        margin-left: -15px;
        margin-right: 5px;
      }
    }
    .footer-social-buttons {
      .sm-global-btn {
        display: inline-block;
        position: relative;
        cursor: pointer;
        width: 25px;
        height: 25px;
        margin-right: 5px;
        padding: 0;
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 2.2em;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
      }
      .facebook-btn {
        background-color: #4060A5;
        &:before {
          font-family: "FontAwesome";
          content: "\f09a";
        }
      }
      .twitter-btn {
        background-color: #00ABE3;
        &:before {
          font-family: "FontAwesome";
          content: "\f099";
        }
      }
      .googleplus-btn {
        background-color: #E64522;
        &:before {
          font-family: "FontAwesome";
          content: "\f0d5";
        }
      }
    }
  }
  .footer-copywrite-container {
    padding: 1rem 0;
    font-size: 1.5em;
    .footer-info {
      display: inline-block;
      width: 100%;
      .footer-logo {
        height: 30px;
        margin-left: 30px;
      }
      .copywrite {
        margin-left: 5%;
        line-height: 4em;
        color: #f15c22;
      }
      .useful-links {
        float: right;
        line-height: 4em;
      }
    }
  }
}

/*
** MEDIA QUERIES
*/
@media screen and (min-width: 768px) {
  .cabane-portfolio-carousel-component{
    .carousel-indicators {
      bottom: -15px;
    }
  }
}
